<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="DiscordMyGet" value="https://www.myget.org/F/discord-net/api/v3/index.json" />
    <add key="ImagesharpMyGet" value="https://www.myget.org/F/imagesharp/api/v3/index.json" />
  </packageSources>
</configuration>